<ion-view view-title="Área Restrita">
    <ion-content ng-show="restricted.session">
        <iframe class='webPage' ng-src="{{restricted.domain}}">
        </iframe>
    </ion-content>
    <ion-content ng-hide="restricted.session">
      <label class="item item-text-wrap" style="position:relative; top:50%; text-align:center; margin-top:-7rem;">
        É necessário fazer login para aceder à<br>Área Restrita a Membros
        <br>
        <br>
          <button class="button button-block button-positive" ng-click="menu.login()">Log in</button>
        </label>
    </ion-content>
</ion-view>
