<ion-view view-title="Sou um Cuidador?">
	<ion-content>
		<div class="list card">
			<div class="item">
				<strong>Serviço 1</strong>
			</div>
			<div class="item item-body">
				<img class="full-image" src="./img/default.png">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum, tellus at egestas placerat, nunc ligula dignissim
					nunc, in fermentum orci enim sed arcu. Aenean fringilla tempus felis posuere pulvinar. Donec arcu velit, fringilla nec
					rutrum id, blandit id libero. Nulla tempus gravida libero vel iaculis.
				</p>
			</div>
		</div>

        <div class="list card">
			<div class="item">
				<strong>Serviço 23</strong>
			</div>
			<div class="item item-body">
				<img class="full-image" src="./img/default.png">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum, tellus at egestas placerat, nunc ligula dignissim
					nunc, in fermentum orci enim sed arcu. Aenean fringilla tempus felis posuere pulvinar. Donec arcu velit, fringilla nec
					rutrum id, blandit id libero. Nulla tempus gravida libero vel iaculis.
				</p>
			</div>
		</div>

        <div class="list card">
			<div class="item">
				<strong>Serviço 3</strong>
			</div>
			<div class="item item-body">
				<img class="full-image" src="./img/default.png">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum, tellus at egestas placerat, nunc ligula dignissim
					nunc, in fermentum orci enim sed arcu. Aenean fringilla tempus felis posuere pulvinar. Donec arcu velit, fringilla nec
					rutrum id, blandit id libero. Nulla tempus gravida libero vel iaculis.
				</p>
			</div>
		</div>

        <div class="list card">
			<div class="item">
				<strong>Serviço 4</strong>
			</div>
			<div class="item item-body">
				<img class="full-image" src="./img/default.png">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum, tellus at egestas placerat, nunc ligula dignissim
					nunc, in fermentum orci enim sed arcu. Aenean fringilla tempus felis posuere pulvinar. Donec arcu velit, fringilla nec
					rutrum id, blandit id libero. Nulla tempus gravida libero vel iaculis.
				</p>
			</div>
		</div>
	</ion-content>
</ion-view>