#cuidadores_header {
	font-size: 10px;
	width: 100%;
	background-color: #4AACC5;
	margin: 0;
	padding: 0;
}

#cuidadores_secondary_nav {
	font-size: 14px;
	text-align: right;
	width: 100%;
	height: 3.5em;
	background-color: #4AACC5;
	margin: 0;
}

#cuidadores_header_main {
	height: 100%;
	background-color: white;
	height: 13em;
}

#cuidadores_logo {
	display: inline-block;
	height: 13em;
	margin-left: 4em;
	margin-right: 4em;
	width: 230px;
	background-color: white;
	background-image: url("../../sites/default/files/logo.png");
	background-repeat: no-repeat;
	background-position: center center; 
	background-size: 220px auto;
}

#cuidadores_primary_nav {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-top: 3em;
	padding-bottom: 3em;
	padding-left: 4em;
	border-left: 1px solid #e7e7e7;
}

#cuidadores_header nav > ul {
	padding: 0;
	margin: 0;
	height: 100%;
	overflow: hidden;
	line-height: 20px;
}

#cuidadores_header nav > ul > li {
	display: inline-block;
	list-style-type: none;
	font-size: 20px;
	padding: 0.8em;
	padding-top: 0;
	padding-bottom: 0;
}

#cuidadores_header nav>ul>li.active {
	font-weight: bold;
	color: #FF9A5F;
}

#cuidadores_header #cuidadores_secondary_nav ul > li {
	height: 100%;
	padding: 0;
}

#cuidadores_secondary_nav ul > li  > a{
	display: block;
	color: white;
	font-size: 14px;
	padding: 1em
}

#cuidadores_primary_nav ul > li > a {
	color: #4AACC5;
	font-size: 20px;
}

#cuidadores_primary_nav ul > li > a:hover {
	text-decoration: none;
	color: #144877;
}