body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#navbar {
	background-color: #4AACC5;
}

#navbar * {
	color: white;
}

#navbar input {
	color: #555;
}

#navbar > .container-fluid {
	padding-left: 0;
}

#navbar .logo {
    padding: 0;
	padding-right: calc(13rem * 80 / 333);
	margin-bottom: 0;
	margin-top: 0;
	background-image: url("../images/cuidadores_logo_separator.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: auto 100%;
}

#navbar .logo img {
    background-color: white;
	border-bottom: 4px solid #264A74;
	padding: 2rem;
	height: 13rem;
}

#navbar-bottom-collapse {
	margin-top: 8rem;
}

#search-block-form .input-group {
	position: relative;
	bottom: 1rem;
	width: 20rem;
	float: right;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #144877;
    border-radius: 10px 10px 0 0;
}

.navbar-default #navbar-bottom-collapse .navbar-nav>.active>a {
	border-radius: 10px 10px 0 0;
}

.navbar-default #navbar-top-collapse .navbar-nav>.active>a {
	border-radius: 0 0 10px 10px;
}

.navbar-default .navbar-nav>.active>a:hover {
	background-color: #FF9A5F;
}

.top_footer {
	margin-top: 45px;
	padding-top: 35px;
	padding-bottom: 36px;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	background-color: #4AACC5;
}

.top_footer_left, .top_footer_right {
	color: white;
}

.top_footer_left, .top_footer_right {
	text-align: center;
	vertical-align: middle;
	margin: auto;
	height: 100%;
}

.top_footer_left {
	margin-bottom: 35px;
	padding-top: 15px;
}

.top_footer_right {
	margin-top: 35px;
}

.mid_footer {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 35px;
}

.mid_footer .view-parceiros .view-content .field-content img {
	max-height: 150px;
	height: expression(this.height > 150 ? 150: true);
	width: auto;
	margin: auto;
}

.external_links img, .external_links img, .external_links img {
	background-size: contain;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	margin: 15px 10px 0 10px;
}

.external_links {
	float: right;
}

.external_links section {
	float: right;
}

.footer {
	margin-top: 0;
}

.view-estatisticas > .view-content > div > article > h2:first-child {
	display: none;
}