body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#cuidadores_header {
	font-size: 10px;
}

#cuidadores_header input {
	color: #555;
}

#cuidadores_header > .container-fluid {
	padding: 0;
}

#cuidadores_header_main {
	position: relative;
	background-color: white;
	width: 100%;
}

#cuidadores_header .logo {
    padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	width: 310px;
}

#cuidadores_header .logo img {
    background-color: white;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	padding-left: 4em;
	padding-right: 4em;
	width: 100%;
}

#cuidadores_primary_nav {
	vertical-align: top;
	margin: 0;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-top: 3em;
	padding-bottom: 3em;
	padding-left: 4em;
	border-left: 1px solid #e7e7e7;
	font-size:  10px;
}

#cuidadores_secondary_nav {
	font-size: 14px;
	width: 100%;
	height: 3.5em !important;
	background-color: #4AACC5;
}

#cuidadores_secondary_nav ul {
	position: relative;
	float: right;
}

#cuidadores_secondary_nav ul > li > a{
	color: white;
}

#cuidadores_secondary_nav ul > li.active > a {
	background-color: #144877;
}

#cuidadores_secondary_nav ul > li:not(.active) > a:hover {
	background-color: rgba(20, 72, 119, 0.5);
}

#cuidadores_primary_nav ul > li {
	font-size: 20px;
	padding: 0.8em;
	padding-top: 0;
	padding-bottom: 0;
}

#cuidadores_primary_nav ul > li > a {
	color: #4AACC5;
	padding: 0;
}

#cuidadores_primary_nav ul > li > a:hover {
	color: #144877;
}

#cuidadores_primary_nav ul > li:last-child > a {
	color: #FF9A5F;
}

#cuidadores_primary_nav ul > li.active > a{
	background-color: transparent;
	font-weight: bold;
}

#cuidadores_header_search {
	position: absolute;
	bottom: 0;
	right: 15px;
	display: inline-block;
}

#cuidadores_header_search .search-block-form .input-group {
	width: 200px;
}

@media  (max-width: 768px) {
	#cuidadores_secondary_nav {
		display: none;
	}
	
	#cuidadores_header .navbar-collapse {
	width: 100%;
	}
	
	#cuidadores_primary_nav ul > li > a {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

.block-simplenews-subscription-block label::after {
	display: none;
}

.evento.teaser img, .noticia.teaser img {
	margin: auto;
    max-height: 200px;
    width: auto;
}

.col-sm-9 .region.region-content {
	padding-right: 20px;
    border-right: 1px solid #e7e7e7;
}

.top_footer {
	margin-top: 45px;
	padding-top: 35px;
	padding-bottom: 36px;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	background-color: #4AACC5;
}

.top_footer_left, .top_footer_right {
	color: white;
}

.top_footer_left, .top_footer_right {
	text-align: center;
	vertical-align: middle;
	margin: auto;
	height: 100%;
}

.top_footer_left {
	margin-bottom: 35px;
	padding-top: 15px;
}

.top_footer_right {
	margin-top: 35px;
}

.mid_footer {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 35px;
}

.mid_footer .view-parceiros .view-content .field-content img {
	max-height: 150px;
	height: expression(this.height > 150 ? 150: true);
	width: auto;
	margin: auto;
}

.bottom_footer {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 35px;
}

.bottom_footer .view-apoiantes .view-content .field-content img {
	max-height: 150px;
	height: expression(this.height > 150 ? 150: true);
	width: auto;
	margin: auto;
}

.external_links img, .external_links img, .external_links img {
	background-size: contain;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	margin: 15px 10px 0 10px;
}

.external_links {
	float: right;
}

.external_links section {
	float: right;
}

.footer {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #144877;
	margin-top: 50px;
}

.footer ul a {
	color: white;
	border-radius: 0px;
}

.footer ul .is-active, .footer ul .is-active:hover {
	background-color: #4AACC5;
}

.footer ul a:hover {
	background-color: rgba(74, 172, 197, 0.5);
}

.view-estatisticas > .view-content > div > article > h2:first-child {
	display: none;
}

.calendar-calendar td .calendar .contents time {
	display: none;
}

#block-responsiveslideshow{
	margin-top:-20px;
	background:cover;
	margin-bottom:20px;
}

div#top.container-fluid { padding: 0 }

#block-responsiveslideshow > div.col-md-12 { padding: 0 }