# Ignore core when managing all of a project's dependencies with Composer
# including Drupal core.
# core

# Core's dependencies are managed with Composer.
vendor

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/services*.yml

# Ignore paths that contain user-generated content.
sites/*/files/css
sites/*/files/js
sites/*/private